{% extends 'back.html.twig' %}

{% block title %}SportsVerse{% endblock %}

{% block body %}


    <h1>Reponses</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Sujet</th>
                <th>Reponse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td>{{ reponse.idReclamation }}</td>
                <td>{{ reponse.description }}</td>
                <td>
                    <a href="{{ path('app_reponse_show', {'id': reponse.id}) }}"><button class="btn btn-success mb-3">afficher</button></a>
                    <a href="{{ path('app_reponse_edit', {'id': reponse.id}) }}"><button class="btn btn-success mb-3">modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
