{% extends 'back.html.twig' %}

{% block title %}SportsVerse{% endblock %}

{% block body %}
    <h1> Nouvelle Reponse</h1>

    {{ include('reponse/_form.html.twig') }}

    <a href="{{ path('app_reponse_index') }}"><button class="btn btn-success mb-3">Retour</button></a>
{% endblock %}
