{% extends 'front.html.twig' %}
{% block header %}
<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Select Your Coach</h1>
				</div>
			</div>
		</div>
	</section>
    
{% endblock %}
{% block body %}
    <div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">Activité</div>
					<ul class="main-categories">
						<li class="main-nav-list"><a data-toggle="collapse" href="#fruitsVegetable" aria-expanded="false" aria-controls="fruitsVegetable"><span class="lnr lnr-arrow-right"></span>Cross Fit<span class="number"></span></a>
							<ul class="collapse" id="fruitsVegetable" data-toggle="collapse" aria-expanded="false" aria-controls="fruitsVegetable">
								<li class="main-nav-list child"><a href="#">Frozen Fish<span class="number">(13)</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
                    {% for c in coachs %}
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="img/product/p1.jpg" alt="">
								<div class="product-details">
									<h6>{{c.nom}} {{c.prenom}}</h6>
									<div class="price">
										<h6>20.00 DT</h6>
									</div>
									<div class="prd-bottom">
                                    <a class="primary-btn" href="{{ path('add_seance',{'id':c.id}) }}" role="button">
                                        Réserver
                                    </a>
									</div>
								</div>
							</div>
						</div>
                    {% endfor %}
				<!-- End Best Seller -->
			</div>
		</div>
	</div>
{% endblock %}