{% extends 'front.html.twig' %}

{% block title %}Users
{% endblock %}
{% block container %}
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Activite</h1>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Activite</h5>

			<!-- Table with hoverable rows -->
			<table class="table table-hover">

				<tr>

					<th scope="col">nom</th>
					<td>{{ activite.nom }}</td>
				</tr>

				<tr>
					<th scope="col">Coaches</th>
					<th>
						{% for cv in activite.cvs %}
							{{ cv.UserId }}
						{% endfor %}
					</th>
				</tr>
				<td>
					<button>
						<a href="{{ path ('list_activite')}}">Back to List</a>
					</button>
				</td>
			</thead>
		</table>
		<!-- End Table with hoverable rows -->


	</div>
{% endblock %}
