{% extends 'front.html.twig' %}

{% block title %}Users
{% endblock %}
{% block container %}
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Activites list</h1>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
{% block body %}
	<div class="card" style="justify-content: center; align-items: center;">
		<div class="card-body">
			<h5 class="card-title">Activites list</h5>

			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">nom</th>
						<th scope="col">description</th>
						<th scope="col">type</th>
						<th scope="col">Action</th>

						{# <th scope="col">user_id</th> #}
					</tr>
				</thead>
				<tbody>
					{% for act in activites %}

						<tr>
							<td>{{ act.nom }}</td>
							<td>{{ act.description }}</td>
							<td>{{ act.type }}</td>
							<td>
								<button class="btn">
									<a href="{{ path ('show_activite', {'id': act.id})}}">
										<i class="bx bxs-show"></i>Show</a>
								</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
